<div class="container-fluid p-0 ">
    <carousel [noPause]="false">
        <slide (click)="abrirModalPokemon('https://pokeapi.co/api/v2/pokemon/6/')">
            <img src="../../../assets/images/banner_pokemon_fire_2.png" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide (click)="abrirModalPokemon('https://pokeapi.co/api/v2/pokemon/78/')">
            <img src="../../../assets/images/banner_pokemon_fire_1.png" alt="Second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
    </carousel>
    
</div>
<div class="container mt-4">
    <div class="col-12">
        <app-showcase></app-showcase>
    </div>
    
</div>

