<div class="container-fluid p-0 ">
    <carousel style="z-index: 0;" [noPause]="false">
        <slide (click)="abrirModalPokemon('https://pokeapi.co/api/v2/pokemon/pikachu/')">
            <img src="../../../assets/images/banner_pokemon_elet_2.png" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide (click)="abrirModalPokemon('https://pokeapi.co/api/v2/pokemon/pichu/')">
            <img src="../../../assets/images/banner_pokemon_elet_1.png" alt="Second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
    </carousel>
    
</div>
<div class="container mt-4">
    <div class="col-12">
        <app-showcase></app-showcase>
    </div>
    
</div>

