<div class="one-edge-shadow bg-white shadow-sm mb-1 p-2 rounded" style="overflow: hidden;">

    <div *ngIf="compra" class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#333333"><path d="M100.33333,143.33333h-71.66667v-114.66667h114.66667v71.66667z" opacity="0.3"></path><path d="M136.16667,21.5h-100.33333c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v100.33333c0,7.88333 6.45,14.33333 14.33333,14.33333h71.66667l43,-43v-71.66667c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333zM136.16667,100.33333h-35.83333v35.83333h-64.5v-100.33333h100.33333z"></path><path d="M50.16667,50.16667h71.66667v14.33333h-71.66667zM50.16667,78.83333h35.83333v14.33333h-35.83333z"></path></g></g></svg>
        <div class="d-flex flex-column ml-3">
            <h5 class="text-primary m-0">{{compra.data | date:'dd/MM/yyyy'}}</h5>
            <div class="d-flex align-items-center  justify-content-between">
                <h6 class="text-dark">R$ {{compra.valor}},00</h6>
                <h6 class="text-dark ml-5">{{compra.quantidade}} Item(s)</h6>
            </div>
            
        </div>
    </div>
    
</div>