
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Nova+Round&family=Varela+Round&display=swap');
h1, h2, h3, h4, h5{
  font-family: 'Nova Round', cursive;
}
p, span, small {
  font-family: 'Dosis', sans-serif;
}

.pointer {
  cursor: pointer;
}




//Overlay para foco em determinado objeto.
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  transition: all .3s ease-in-out;

}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px rgb(187, 187, 187);
}


.second-modal-backdrop
{
  background-color: rgba(0, 0, 0, 0.5)!important;
  margin: 0 !important;
  min-height: 100% !important;
  max-width: 100% !important;
  display: flex!important;
  justify-content: center!important;

  .modal-content {
    display: flex !important;
    align-self: center !important;
  }
}

@for $y from 300 through 1200 {
  /* -------- font -------- */
  .modal-width-#{$y} {
    .modal-content {
      max-width: #{$y}px !important;
    }
  }
}

